## Assignment 6

### 0. Preperation

0-1. Create WRDS account 
- you should have a confirmation email. If you cannot find it, then go do your junk folder.
- you need to 

1. install library (it is only needed once if you use the same computer.)
2. Duo mobile app (two factor authentication) is required.

In [65]:
%pip install wrds

Requirement already satisfied: wrds in c:\users\manik\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: numpy<1.27,>=1.26 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (1.26.4)
Requirement already satisfied: packaging<23.3 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (23.2)
Requirement already satisfied: pandas<2.3,>=2.2 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (2.2.2)
Requirement already satisfied: psycopg2-binary<2.10,>=2.9 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (2.9.10)
Requirement already satisfied: scipy<1.13,>=1.12 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (1.12.0)
Requirement already satisfied: sqlalchemy<2.1,>=2 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (2.0.30)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manik\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->wrds) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\manik\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->wrds) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manik\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->wrds) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\manik\anaconda3\lib\site-packages (from sqlalchemy<2.1,>=2->wrds) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\manik\anaconda3\lib\site-packages (from sqlalchemy<2.1,>=2->wrds) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\manik\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<2.3,>=2.2->wrds) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

0-2. Verify your identify

Please run the codes for "cd" and "datetime"

In [67]:
cd

C:\Users\manik

In [68]:
import datetime
print(datetime.datetime.now())

2024-11-12 17:42:47.245334

### 1. Download data from WRDS (Please use your ID and password)

    For the question, "Create .pgpass file now [y/n]?:" You can fill "n"

In [1]:
#importing libraries
import pandas as pd
import wrds

In [2]:
#connecting WRDS using your ID and password
conn = wrds.Connection()

Enter your WRDS username [manik]: manikargoud
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  n

You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

1-1. Download the company basic info data

In [5]:
info_crsp=conn.get_table(library='crsp', table='stocknames', columns =['siccd', 'permno', 'ticker','comnam', 'cusip','namedt'])

In [7]:
info_crsp.head()

   siccd  permno ticker                     comnam     cusip      namedt
0   3990   10000  OMFGA  OPTIMUM MANUFACTURING INC  68391610  1986-01-07
1   4920   10001   GFGC         GREAT FALLS GAS CO  36720410  1986-01-09
2   4920   10001   EWST            ENERGY WEST INC  36720410  1993-11-22
3   4920   10001   EWST            ENERGY WEST INC  36720410  2008-02-05
4   4920   10001   EGAS                 ENERGY INC  36720410  2009-08-04

In [9]:
info_crsp['namedt']=pd.to_datetime(info_crsp['namedt'])

In [11]:
info_crsp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80790 entries, 0 to 80789
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   siccd   80790 non-null  int64
 1   permno  80790 non-null  int64
 2   ticker  75849 non-null  object
 3   comnam  80790 non-null  object
 4   cusip   80790 non-null  object
 5   namedt  80790 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 3.7+ MB

In [13]:
#let's check the data again
info_crsp.duplicated('permno').value_counts()

True     43014
False    37776
Name: count, dtype: int64

In [15]:
info_crsp=info_crsp.sort_values(['permno','namedt'])

In [17]:
info_crsp=info_crsp.drop_duplicates('permno',keep='last')

In [19]:
info_crsp.duplicated('permno').value_counts()

False    37776
Name: count, dtype: int64

In [21]:
info_crsp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37776 entries, 0 to 80789
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   siccd   37776 non-null  int64
 1   permno  37776 non-null  int64
 2   ticker  36763 non-null  object
 3   comnam  37776 non-null  object
 4   cusip   37776 non-null  object
 5   namedt  37776 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 2.0+ MB

info_crsp['permno'].nunique()

### 2. Export the company basic info data to collect the abnormal return data via WRDS.

2-1. To collect the abnormal return data, we only need 1) permno (from info_crso) and 2) event date (newly added). 



Because this example is for Hurricane Sandy, let's create a column "eventdate" and fill 2022 Oct 22.

*Remember for your own project, you need to revise "eventdate"*

In [24]:
# Subset "permno"
crsp_out=info_crsp[['permno']]

# Add event date 
crsp_out['eventdate']='2012-10-22'
# even if there are messages, no worries.

C:\Users\manik\AppData\Local\Temp\ipykernel_25784\1882867753.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crsp_out['eventdate']='2012-10-22'

In [26]:
crsp_out.head()
crsp_out.shape

(37776, 2)

2-2 Let's export  "crsp_out" to your local computer. 


Remember you need to know the location of the file you are going to download.

Do you remember how to get the directory information? If not, you may use the directory info in your in-class exercise 7.

In [29]:
# Please do not add the file name here!! the Directory only!!! such as r"C:\Users\kyyoon\Downloads"
loc=r"C:\Users\manik\Desktop\analytics"

In [31]:
fname=loc+'\\sandy_permno_test.txt'

In [33]:
crsp_out.to_csv(fname, header=False, index=False, sep=' ')

2-3 Check the folder and the file you downloaded. The file size should be about 1421K.

### 3. Download the abnormal return data via WRDS

Go to "Pages" in Canvas and find "How to get cumulative abnormal return from WRDS" and follow the instruction.

The output file name should be “sandy_edate.csv”


### 4. Post the file on Github 

The file,“sandy_edate.csv”, should be posted in your GitHub 

Go to "Pages" in Canvas and find "How to post a file at GitHub" and follow the instruction.

### 5. Read the file from Github

You should have the link from Github and please add "?raw=true" at the end.

For instance, my address is 'https://github.com/kyoon5/shared/blob/main/sandy_edate.csv' and after adding them, the address is 
'https://github.com/kyoon5/shared/blob/main/sandy_edate.csv?raw=true'

**You should use your own GitHub page address!!**

In [37]:
# please add your address here!
url='https://github.com/Manikargoud/in-class/blob/main/dqqxekyoavolaws3_edate%20(1).csv?raw=true'

In [39]:
abcar=pd.read_csv(url)
abcar.head()

,Model,permno,evtdate,cret,car,bhar,nrets,nrets_est
0,Market-Adjusted Model,10001,2012-10-22,-0.001543,0.040828,0.040689,21,100
1,Market-Adjusted Model,10002,2012-10-22,-0.070000,-0.025975,-0.027768,21,100
2,Market-Adjusted Model,10025,2012-10-22,0.031687,0.075197,0.073919,21,100
3,Market-Adjusted Model,10026,2012-10-22,-0.005059,0.038216,0.037173,21,100
4,Market-Adjusted Model,10032,2012-10-22,-0.321310,-0.295165,-0.279078,21,100

### 6. Let's merge the abnormal return data with the basic company info data

In [41]:
crsp=abcar.merge(info_crsp,how="inner",on='permno')
crsp.head()

,Model,permno,evtdate,cret,car,bhar,nrets,nrets_est,siccd,ticker,comnam,cusip,namedt
0,Market-Adjusted Model,10001,2012-10-22,-0.001543,0.040828,0.040689,21,100,4925,EGAS,GAS NATURAL INC,36720410,2010-07-09
1,Market-Adjusted Model,10002,2012-10-22,-0.070000,-0.025975,-0.027768,21,100,6020,BTFG,BANCTRUST FINANCIAL GROUP INC,05978R10,2002-05-15
2,Market-Adjusted Model,10025,2012-10-22,0.031687,0.075197,0.073919,21,100,3081,AEPI,A E P INDUSTRIES INC,00103110,2009-01-30
3,Market-Adjusted Model,10026,2012-10-22,-0.005059,0.038216,0.037173,21,100,2052,JJSF,J & J SNACK FOODS CORP,46603210,2000-08-01
4,Market-Adjusted Model,10032,2012-10-22,-0.321310,-0.295165,-0.279078,21,100,3670,PLXS,PLEXUS CORP,72913210,1986-02-05

In [42]:
crsp.shape

(6575, 13)

In [43]:
import numpy as np

In [44]:
# collecting compustat data

comp = conn.raw_sql('''select sich, gvkey, datadate, conm, revt, ni from comp.funda 
                        where datafmt = 'STD' and consol = 'C'and indfmt = 'INDL'
                        ''', date_cols=['datadate'])
#generating year
comp['year']=pd.DatetimeIndex(comp['datadate']).year

#linkage
url='https://github.com/kyoon5/shared/blob/main/link.csv?raw=true'
link=pd.read_csv(url)
link['gvkey'] = link['gvkey'].astype(str).str.zfill(6)
link['linkdt']=pd.to_datetime(link['linkdt'])
link['linkenddt']=pd.to_datetime(link['linkenddt'])

#adding permno for crsp data
comp2 = (
    comp.merge(link, how='inner', on='gvkey')  # Join on gvkey
    .query("datadate >= linkdt and (datadate <= linkenddt or linkenddt.isna())")  # Apply date range filter
    .assign(permno=lambda x: x['lpermno'])  # Select permno
    .sort_values(['gvkey', 'datadate'])  # Sort by gvkey and datadate
)

comp2=comp2[['sich', 'gvkey','datadate','conm','revt','ni','year','permno']]

In [45]:
crsp['year']=pd.DatetimeIndex(crsp['evtdate']).year

In [46]:
crsp_comp=crsp.merge(comp2,how='inner',on=['permno','year'])

In [51]:
crsp_comp['retail']=np.where((crsp_comp['siccd']>=5300)&(crsp_comp['siccd']<=5339),True,False)

In [52]:
crsp_comp['retail'].value_counts()

retail
False    5150
True       19
Name: count, dtype: int64

In [71]:
import pickle
# Save multiple DataFrames in a dictionary
data = {'info_crsp': info_crsp, 'crsp': crsp, 'crsp_comp':crsp_comp}
# Save dataframe in your local directory- define 'loc' using your local directory
loc= r"C:\Users\manik\Downloads"
fname=loc+r'\assignment6.pkl'
with open(fname, 'wb') as file:
    pickle.dump(data, file)